body {
  background-color: rgb(230, 173, 212);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  color: blueviolet;
  font-family: cursive;
}
h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  color: darkviolet;
}
section {
  margin: 20px;
  padding: 10px;
  border: 4px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}
li {
  margin-bottom: 10px;
  color: indigo;
}
a {
  color: #3498db; /* Sets text color */
  text-decoration: none; /* Removes default underline */
  font-weight: bold; /* Makes text bold */
}
a:link {
  color: blue;
}
a:visited {
  color: purple;
}
a:hover {
  color: red;
  text-decoration: underline;
}
