body {
  background-color: rgb(230, 173, 212);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-top: 20px;
  color: blueviolet;
  font-family: cursive;
}
h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-top: 10px;
  color: darkviolet;
}
section {
  margin: 20px;
  padding: 10px;
  border: 4px solid white;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  align-self: center;
}
li {
  margin-bottom: 10px;
  display: block;
  color: indigo;
}
